.Container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #69655E;
    min-width: 220px;
}
.Item {
    padding: 2px 6px;
    color: #DCB57E;
    background: #69655E;

}
.Item:hover{
    background: #827C73;
}
.Item:active{
    background: #B6BE59;
    color: whitesmoke;
}
.selected {
    background: #B6BE59;
    color: whitesmoke;
}
.selected:hover{
    background: #C5CC7B;
    color: whitesmoke;
}
