.Container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 2px;
    background: #69655E;
}
.Item {
    padding: 2px 6px;
    border-radius: 2px;
    color: #DCB57E;
    background: #69655E;
}
.Item:hover{
    background: #827C73;
}
.Item:active{
    background: #B6BE59;
    color: whitesmoke;
}
