.TableLibrary {
    display: grid;
    grid-template-columns: 20% 1fr; /* Левая колонка 20%, правая — остальное */
    height: 100vh;
    width: 100%;
}

.Library {
    background-color: #f0f0f0;
    border-right: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: right;
    box-shadow: inset -10px 0 15px rgb(204, 204, 204);
}

.Cards {
    background-color: #fff;
    padding: 20px;
}
