.Chain {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    position: relative;
    height: 100%;
    width: 30px;
}

.Challenge {
    background: #000;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100px;
    top: -10px;
    transform: rotate(-90deg) translateX(-50%);

}
.Rune{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
.Hard {
    width: 25px;
    padding-top: 3px;

}
