.Chain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2f955f;
    box-sizing: content-box;
}
.Challenge {
    transform: rotate(-90deg);
    background: #000;
    display: flex;
    position: relative;
    min-width: 200px;
    left: -83px;
    top: -70px;
}
.Hard {
    width: 25px;
    /*position: relative;*/
    /*top: -63px;*/
    /*left: 5px;*/
    /*z-index: 1;*/
}
.Rune{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
