.FooterCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7px;
    /*width: 85%;*/
    background: #000;
    color: white;
    margin: 0 auto 0 auto;
    padding:  4px 3px 6px 3px;
    border-radius: 2px 2px 0 0;
    font-size: 4px;
}
.Author {
    display: flex;
    align-items: center;
    gap: 1px;
}
.AuthorImg {
    height: 4px;
    width: auto;
}
.CardNumber {
    display: flex;
    align-items: center;
    gap: 1px;
}
.CardNumberImg {
    height: 5px;
    width: auto;
}
