.Item {
    height: 14px;
    width: auto;
    display: inline;
    border: 1px solid #eb00ff;

}
.Box {
    border: 1px solid #eb00ff;
    font-size: 8px;
    width: 85%;
    padding: 15px 0 15px 0;
    margin: 0 auto;
}
