.Item {
    height: 14px;
    width: auto;
    display: inline;

}
.Box  {
    font-size: 8px;
    color: black;
    font-weight: bold;
    line-height: 15px;
    width: 85%;
    padding: 6px 0 6px 0;
    margin: 0 auto;
}
