.h1 {
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    margin-bottom: 20px;
    color: whitesmoke;
    background: #B8C05D;
    border-radius: 4px;
}
