.Paper {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: max-content;
    position: absolute;
    bottom: -13px;
    z-index: 1;
}
.P {
    color: black;
    font-size: 8px;
    font-weight: bold;
}
