.Way {
    padding: 8px 0 8px 12px;
    font-size: 8px;
    width: 100% ;
    text-align: start;
    background-size: cover ;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
    background-position: 0 1px;
    position: relative;
    z-index: 2;
    border-radius: 0 8px 8px 0;
}
.Container {
    margin-top: 4px;
    position: relative;
    width: 100%;
}
.Attributes {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1px;
    right: -4px;
    top: 0;
    z-index: 2;
}
.RuneWay {
    width: 20px;
    height: 21px;
}
