.WayPaper {
    width: 94%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0;
    position: absolute;
    z-index: 1;
    border-radius:0 5px 5px 0;
    opacity: 0.9;
}
.Text {
    width: 78%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 6px;
    gap: 4px;
    min-height: 14px;
    padding: 2px 0 2px 0;
}
